extends layout 

block content

    div(class='list-title-container')
        h1= title
    
    form(method='POST' action='' class='component-form')
        label(for="category-name") NAME 
        input(type="text" id='category-name' minlength=1 maxlength=100 value=category ? category.name : '' name='name')
        label(for="category-description") DESCRIPTION 
        textarea( cols="30" rows="10" type="text" id='category-description' minlength=1 maxlength=1000  name='description') #{category ? category.description : ''}
        if (isUpdating)
            label(for="password") ADMIN PASSWORD 
            input(type="password" id='password' minlength=1 name='password')
        button(type="submit" class='update-button') #{isUpdating ? 'Update' : 'Submit'}
        if (isUpdating)
            a(href=category.url class='cancel-button') Cancel
        else 
            a(href='/categories' class='cancel-button') Cancel

        if (errors)
            div(class='error-container')
                h2 Error: 
                ul 
                    each error in errors 
                        li= error.msg

