extends layout 

block content
    div(class='list-title-container')
        h1= title
        div(class="title-links-container")
            a(href=category.url + '/update') Update
            a(href=category.url + '/delete') Delete
        p= category.description        

    table(class='component-list-table')
        tr(class='list-header-row')
            th(class='list-name-header') 
                p Name 
            th(class='list-manufacturer-header')  
                p Manufacturer 
            th(class='list-stock-header')  
                p Stock 
            th(class='list-price-header')  
                p Price 
            th(class='list-add-header') 

        each val in component_list
            tr
                td(class='list-name')  
                    img(src=val.imgPath alt=val.name class="img-small")
                    a(href=val.url) #{val.name}
                td(class='list-manufacturer') 
                    a(href=val.manufacturer.url) #{val.manufacturer.name}
                td(class='list-stock') 
                    | #{val.quantity}
                td(class='list-price') 
                    | $#{val.price.toFixed(2)}
                td(class='list-add') 
                    form(method='post' action=val.addUrl)
                        button(type="submit") + Add
