extends layout 

block content
    h1= title 
    a(href='/component/create') + Add a new part

    table
        tr
            th 
                p Name 
            th 
                p Manufacturer 
            th 
                p Category 
            th 
                p Price 
            th 

        each val in component_list
            tr
                td 
                    img(src=val.imgPath alt=val.name class="img-small")
                    a(href=val.url) #{val.name}
                td 
                    a(href=val.manufacturer.url) #{val.manufacturer.name}
                td 
                    a(href=val.category.url) #{val.category.name}
                td 
                    #{val.price}
                td 
                    form(method='post' action=val.addUrl)
                        button(type="submit") + Add
