extends layout 

block content
    div(class='list-title-container')
        h1= title
        a(href='/component/create') + Add a New PC Component

    table(class='component-list-table')
        tr
            th(class='list-name-header') 
                p Name 
            th(class='list-manufacturer-header') 
                p Manufacturer 
            th(class='list-category-header') 
                p Category 
            th(class='list-price-header') 
                p Price 
            th(class='list-add-header') 

        each val in component_list
            tr
                td(class='list-name') 
                    img(src=val.imgPath alt=val.name class="img-small")
                    a(href=val.url) #{val.name}
                td(class='list-manufacturer') 
                    a(href=val.manufacturer.url) #{val.manufacturer.name}
                td(class='list-category') 
                    a(href=val.category.url) #{val.category.name}
                td(class='list-price') 
                    | $#{val.price.toFixed(2)}
                td(class='list-add') 
                    form(method='post' action=val.addUrl)
                        button(type="submit") + Add
