extends layout 

block content
    div(class='list-title-container')
        h1= title
    div(class='component-form-container')
        if (component)
            div(class='component-form-img-container')
                img(src=component.imgPath alt=component.name class="img-large")
        
        form(method='POST' action='' class='component-form' enctype="multipart/form-data" autocomplete='off')
            
            if (errors)
                    div(class='error-container')
                        h2 Error: 
                        ul 
                            each error in errors 
                                li= error.msg
            
            label(for="component-name") NAME 
            input(type="text" id='component-name' minlength=1 maxlength=100 value=component ? component.name : '' name='name' required=true)
            label(for="component-description") FEATURES 
            textarea(type="text" cols="30" rows="10" id='component-description' minlength=1 maxlength=1000 required=true name='description') #{component ? component.description : '' }
            div(class='input-double-top')
                div(class='input-double-container')
                    label(for="component-price") PRICE 
                    input(type="number" id='component-price' min=0 max=999999 value=component ? component.price : 0 name='price' step='any' required=true)
                div(class='input-double-container')
                    label(for="component-stock") STOCK 
                    input(type="number" id='component-stock' min=0 max=9999 value=component ? component.quantity : 0 name='quantity' required=true)
            div(class='input-double-bottom')
                div(class='input-double-container')
                    label(for="category") CATEGORY
                    div.custom-select
                        select(name='categoryid' id='category' required=true placeholder='Select Category...')
                            if (component != null)
                                each category in category_list 
                                    option(value=category._id selected=((component_category._id.toString() === category._id.toString()) ? true : false))= category.name
                            else 
                                each category in category_list 
                                    option(value=category._id) #{category.name}
                div(class='input-double-container')
                    label(for="manufacturer") MANUFACTURER 
                    div.custom-select
                        select(name='manufacturerid' id='manufacturer' required=true placeholder='Select Manufacturer...')
                            if (component != null)
                                each manufacturer in manufacturer_list 
                                    option(value=manufacturer._id selected=((component_manufacturer._id.toString() === manufacturer._id.toString()) ? true : false))= manufacturer.name
                            else 
                                each manufacturer in manufacturer_list 
                                    option(value=manufacturer._id) #{manufacturer.name}
            label(for="image-upload") IMAGE 
            input(type="file" id='image-upload' name='component-image')
            if (isUpdating)
                label(for="password") ADMIN PASSWORD 
                input(type="password" id='password' minlength=1 name='password')

            button(type="submit" class="update-button") #{isUpdating ? 'Update' : 'Submit'}
            if (isUpdating && component)
                a(href=component.url class='cancel-button') Cancel
            else 
                a(href='/components' class='cancel-button') Cancel

            

