extends layout 

block content
    h1= title 
    if (component_list.length > 0)
        p Please delete the following PC Components before deleting this manufacturer: 

        ul 
            each component in component_list 
                li
                    a(href=component.url) #{component.name}
    else
        p Are you sure you want to delete this manufacturer?

        form(method='POST' action="")
            label(for="password") ADMIN PASSWORD 
            input(type="password" id='password' minlength=1 name='password')
            button(type="submit") Delete 
            a(href=manufacturer.url) Cancel
    if (errors)
        h2 Error: 
        ul 
            each error in errors 
                li= error.msg