extends layout 

block content
    h1= title 
    p= description
    a(href=manufacturer.url + '/update') Update
    a(href=manufacturer.url + '/delete') Delete

    table
        tr
            th 
                p Name 
            th 
                p Category 
            th 
                p Stock 
            th 
                p Price 
            th 

        each val in component_list
            tr
                td 
                    img(src=val.imgPath alt=val.name class="img-small")
                    a(href=val.url) #{val.name}
                td 
                    a(href=val.category.url) #{val.category.name}
                td 
                    | #{val.quantity}
                td 
                    | $#{val.price}
                td 
                    form(method='post' action=val.addUrl)
                        button(type="submit") + Add
