extends layout 

block content
    h1= title 
    p= description
    a(href='/manufacturer/create') + Add a new Manufacturer

    table
        tr
            th 
                p Name 
            th 
                p Category 
            th 
                p Stock 
            th 
                p Price 
            th 

        each val in component_list
            tr
                td 
                    a(href=val.url) #{val.name}
                td 
                    a(href=val.category.url) #{val.category.name}
                td 
                     #{val.quantity}
                td 
                    #{val.price}
                td 
                    button(class="add-component-button") ADD
